#gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  margin: 3px;
  border: solid black 2px;  position: relative;
}

.cell:hover {
  cursor: pointer;
}

.living {
  background-color: black;
}

.dead {
  background-color: white;
}

.grid-marker {
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  top: -8px;
  left: -8px;
  background-color: black;
  border: solid black 1px;
  border-radius: 4px;
}

.grid-marker:hover{
  cursor:default
}